<!-- <div class="custDetail"> -->
    <div class="well">
        <div class="row">
          <div class="col-md-3 leftCol">
            <strong>Symbol:</strong>
          </div>
          <div class="col-md-3 rightCol">
            {{fund?.symbol}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 leftCol">
            <strong>US Equity:</strong>
          </div>
          <div class="col-md-3 rightCol">
            {{fund?.usequity}}%
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 leftCol">
              <strong>Non US Equity:</strong>
            </div>
            <div class="col-md-3 rightCol">
              {{fund?.nonUsequity}}%
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 leftCol">
              <strong>Fixed Income:</strong>
            </div>
            <div class="col-md-3 rightCol">
              {{fund?.fixedIncome}}%
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 leftCol">
              <strong>Cash:</strong>
            </div>
            <div class="col-md-3 rightCol">
              {{fund?.cash}}%
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 leftCol">
              <strong>Other:</strong>
            </div>
            <div class="col-md-3 rightCol">
              {{fund?.other}}%
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 leftCol">
              <strong>Name:</strong>
            </div>
            <div class="col-md-3 rightCol">
              {{fund?.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 leftCol">
              <strong>Modified Date:</strong>
            </div>
            <div class="col-md-3 rightCol">
              {{fund?.dateModified}}
            </div>
            </div>
            <div class="row">
                <diV  class="col-md-3 leftCol">
                </diV>
                <diV  class="col-md-offset-3 col-md-3 rightCol">
                    <button type="button" id="back" class="btn btn-default" (click) = "backClicked()">Back</button>
                </diV>
            </div>
    <!-- </div> -->
    
